module[] = "op||channelMod"
module[] = "deop||channelMod"
module[] = "voice||channelMod"
module[] = "v||channelMod"
module[] = "devoice||channelMod"
module[] = "dv||channelMod"
module[] = "quiet||channelMod"
module[] = "q||channelMod"
module[] = "unquiet||channelMod"
module[] = "uq||channelMod"
module[] = "kick||channelMod"
module[] = "ban||channelMod"
module[] = "unban||channelMod"
module[] = "kickban||channelMod"
module[] = "kb||channelMod"
module[] = "redirect||channelMod"
module[] = "actions||channelMod"
